::ng-deep .title-text {
    &.p-disabled, .p-component:disabled {
        opacity: 1 !important;
    }

    .p-menuitem-text {
        color: #9FA8DA !important;
    }
}

::ng-deep .connected-item {
    margin-left: auto;
    border-radius: 15px;
    background-color: darkred;

    .p-menuitem-text {
        color: white !important;
    }

    .p-menuitem-icon {
        color: white !important;
    }
}